.payment label{
    font-weight: 600;
    color: #ff3c02;

}
.payment button{
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ff3c02;
    color: #fff;
    border: none;
    outline: none;
}